{% extends "JonathanCregutVotingBundle:Default:main_layout.html.twig" %}

{% block insidelayout %}
<div class="panel panel-default">
    <div class="panel-body">
        
    </div>
</div>
{% endblock %}